/* primary */

.primary-content {
    background-color: #fff5da;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 80px;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .wrapper-primary-text {
    width: 40%;
  }
  
  .primary__main-img {
    width: 60%;
    height: 100%;
  }
  
  .section__title {
    font-family: "Philosopher";
    font-weight: bold;
    color: #000;
    letter-spacing: 2px;
    line-height: 1.2;
  }
  
  .primary__title {
    font-size: 72px;
    margin-bottom: 20px;
  }
  
  .primary__title > span {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  }
  
  .primary__text {
    margin-bottom: 25px;
  }
  
  .link-button {
    display: inline-block;
    letter-spacing: 2px;
    background-color: #000;
    color: white;
    border-radius: 3px;
    padding: 10px 20px;
  }
  
  .link-button:hover {
    background-color: #ffb500;
    transition: all 0.2s;
  }
  
  .primary__link-button {
    margin-bottom: 40px;
  }
  
  .primary__social {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  @media screen and (max-width: 1023px) and (min-width: 768px) {
    .primary-content {
      padding-bottom: 0;
    }
  
    .wrapper-primary-text {
      width: 50%;
      padding-bottom: 80px;
    }
  
    .primary__main-img {
      width: 50%;
      align-self: flex-end;
    }
  }
  
  @media screen and (max-width: 767px) {
    .primary-content {
      flex-direction: column;
      padding-bottom: 0;
      padding-top: 70px;
    }
    .wrapper-primary-text {
      width: 90%;
    }
  
    .primary__title {
      font-size: 48px;
    }
  
    .primary__social {
      display: none;
    }
  
    .primary__main-img {
      width: 80%;
      align-self: center;
    }
  }