/* selected works */

.secondary-content {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .wrapper-selected-works {
    width: 95%;
    display: flex;
    justify-content: space-between;
  }
  
  .secondary__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
  
  .work__title {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .work__position {
    height: 46px;
    color: #777;
    margin-bottom: 10px;
  }
  
  .work__link-button {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  
  .work__link {
    text-decoration: underline;
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  @media screen and (max-width: 1023px) and (min-width: 768px) {
    .wrapper-selected-works {
      width: 600px;
      flex-direction: column;
      justify-content: flex-start;
    }
    .wrapper-work {
      display: flex;
      margin-bottom: 50px;
    }
    .wrapper-work-text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 30px;
    }
    .work__title {
      margin-top: 0;
    }
  }
  
  @media screen and (max-width: 767px) {
    .secondary__title {
      font-size: 28px;
    }
    .wrapper-selected-works {
      width: 300px;
      flex-direction: column;
    }
    .work__title {
      font-size: 20px;
    }
    .wrapper-work {
      margin-bottom: 50px;
    }
  }